* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #111;
}

section {
    padding: 60px 0;
    background-color: #08080c;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.topbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.topbar .logo iconify-icon {
    color: #E31E24;
}

.topbar nav {
    display: flex;
    gap: 30px;
}

.topbar nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.topbar nav a:hover {
    color: #E31E24;
}